body {
    background: #EEE;
    color: #111;
    font-family: sans-serif;
}

.pgp-key {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 576px) {
    body {
        padding: 10px 5% 0 5%;
    }

    .pgp-key {
        font-size: 0.65em;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    body {
        padding: 10px 10% 0 10%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    body {
        padding: 10px 15% 0 15%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    body {
        padding: 10px 22% 0 22%;
    }
}
@media (min-width: 1200px) {
    body {
        padding: 10px 25% 0 25%;
    }
}

.center {
    text-align: center;
}

.strikethrough {
    text-decoration: line-through;
}

#menu {
    list-style: none;
    padding: 0;
}

#menu li {
    display: inline-block;
}

#menu a {
    color: #111;
    text-decoration: underline;
}

#menu a:hover {
    color: #E11;
    text-decoration: underline;
}

#menu li ul {
    display: none;
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3px;
    background: #EEE;
}

#menu li:hover ul {
    display: block;
}

#menu li ul li {
    display: block;
}
